.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px;
    background: #97da9a;
    color:floralwhite ;
}

.footer {
    background-color: #d9e9c4;
    margin : 0px auto;
    padding: 20px 0px 20px 0px;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color:darkgreen;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}